<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hz.xjd.mybatis.user.dao.UserTransactionMapper">
  <resultMap id="BaseResultMap" type="com.hz.xjd.model.user.entity.UserTransaction">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_no" jdbcType="VARCHAR" property="userNo" />
    <result column="ref_no" jdbcType="VARCHAR" property="refNo" />
    <result column="trans_type" jdbcType="VARCHAR" property="transType" />
    <result column="amount_in" jdbcType="DECIMAL" property="amountIn" />
    <result column="amount_out" jdbcType="DECIMAL" property="amountOut" />
    <result column="occur_time" jdbcType="TIMESTAMP" property="occurTime" />
    <result column="balance" jdbcType="DECIMAL" property="balance" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
  </resultMap>
</mapper>